# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archives
*.zip
*.tar.gz
*.rar

# Frame backups & scratch
public/frames_backup/
*.ps1
*.py
public/images/drive_folder_1/
public/images/thumb_*.jpg
public/images/thumbs_f2/
